<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
    <link rel="stylesheet" href="view/src/bootstrap/css/bootstrap.min.css">
    <script src="view/src/jquery-2.1.1.min.js"></script>
    <script src="view/src/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="view/styles/main.css">
    <base href="<?php echo $base; ?>">
</head>
<body>
<form method="post" action="<?php echo $action; ?>" class="form-horizontal">
    <div class="container well">
        <h1>Зарегистрируйся и получи силу темных багов</h1>
        <div class="form-group">
            <input type="text" placeholder="Login" name="login" required class="form-control">
        </div>
        <div class="form-group">
            <input type="email" placeholder="E-mail" name="email" required class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Password" name="password" required class="form-control">
        </div>
        <div class="form-group">
            <input type="password" placeholder="Repeat password" name="password_confirmation" required class="form-control">
        </div>
        <div class="flex-center">
            <input type="submit" name="sumbit" class="btn btn-primary btn-lg">
        </div>
    </div>
</form>
</body>
</html>